<div class="m-4">
  <h2 class="text-center mb-4">Hola, Soy MyTrello</h2>
  <div class="caja0 p-4 m-2">
    <p>Soy una plataforma hecha para facilitar y organizar tareas en tiempo real.</p>
    <p>Puedo tener varios usos, el más común es desplegarme en una pantalla para ser mostrado a tu equipo</p>
    <p>mientas tú me administras desde tu Celular, Tablet o Laptop.</p>
    <hr>
    <p><b> ¿Dónde puedo ser implementarlo?</b></p>
    <p>Personal: Notas Diarias, tareas y organización en general.</p>
    <p>Restaurantes: Tomando orden con una Tablet y enviarlo a una pantalla ubicada en la cocina.</p>
    <p>Oficinas/Colegios/Bodegas: Diario Mural evitando usar papel, que terminara en la basura. </p>

  </div>
</div>

<div class="m-5">
  <div class="container row ">

    <div class="col-sm-12 col-md-6 col-lg-6 caja0">
      <img class="imgIconoGrande mb-2 mt-2 " src="../../../assets/DripiconsSVG/trash.svg" alt="">
      <p class="text-center">Icono para eliminaras de forma permanente la nota</p>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-6 caja0">
      <img class="imgIconoGrande mb-2 mt-2" src="../../../assets/DripiconsSVG/document-edit.svg" alt="">
      <p class="text-center">icono para editar la nota</p>
    </div>



  </div>
</div>


<div class="m-5">
  <div class="container row ">

    <div class="col-sm-12 col-md-6 col-lg-6 caja0">
      <img class="imPantallaso mb-2 mt-2" src="../../../assets/img/imgcontrolmaetro.jpg" alt="">
      <p class="text-center">En <b>Control Maestro</b> podrás crear editar y agregar nuevas tareas</p>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-6 caja0">
      <img class="imPantallaso mb-2 mt-2" src="../../../assets/img/imgpantalla.jpg" alt="">
      <p class="text-center">En <b>Pantalla</b> podrás desplegarla en el monitor que
        deseas mostrar las tareas, solo podrás editar y eliminar.</p>

    </div>



  </div>
</div>

<br><br><br>
